*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --main-weather-bg-color: rgba(53, 138, 167, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  background-color: antiquewhite;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
  padding: 10px 0;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1090px;
  margin: 5px 25px;
  font-size: 1.6rem;
}

.weather-input-container {
  display: flex;
  flex-wrap: wrap;
  width: 1090px;
  margin: 5px 25px;
}

.weather-input,
.unit-input {
  height: 35px;
  width: 300px;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-input,
#search-btn {
  color: white;
  background: none;
  height: 35px;
}

.search-box-input {
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  border-bottom: 3px solid white;
}

.search-box-input::placeholder {
  color: white;
}

#search-btn {
  border: 1px solid white;
  font-size: 1.6rem;
}

.unit-input {
  display: flex;
  margin-left: auto;
}

.unit-input button {
  background: none;
  border: none;
  font-size: 2.9rem;
  color: white;
}

.current-weather-left,
.current-weather-right {
  background-color: var(--main-weather-bg-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
}

.current-weather-left .w-icon {
  width: 120px;
  height: auto;
  text-align: center;
  align-self: center;
}

.current-weather-right {
  font-size: 2.5rem;
  justify-content: space-around;
}

.current-weather-right div {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.current-weather-right div img {
  height: 32px;
  width: 32px;
}

#main-w-temperature {
  font-size: 6rem;
}

.weather-forecast-container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-weather-bg-color);
  align-items: center;
  margin: 15px 25px;
  width: 1090px;
  font-size: 1.6rem;
}

.forecast-input {
  margin: 10px 0;
  display: flex;
  width: 100%;
  padding: 0 15px;
  gap: 25px;
}

.forecast-switch button {
  border: none;
  background: none;
  color: white;
  font-size: 1.6rem;
}

.active-btn {
  border-bottom: 3px solid white !important;
}

.page-hours button {
  border: none;
  background: none;
  padding: 0;
}

.weather-forecast-cards-container {
  display: flex;
  height: 150px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.weather-forecast-cards {
  display: flex;
  height: 150px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: brown;
  border: 2px solid white;
  flex-shrink: 0;
  width: 130px;
  flex-basis: 130px;
}

.hidden {
  display: none;
}

.forecast-card-title {
  font-size: 2.1rem;
  font-weight: bold;
}

.forecast-card-max-temp,
.forecast-card-min-temp,
.forecast-card-temp {
  font-size: 2rem;
}

.forecast-card .w-icon {
  width: 75px;
  height: auto;
  text-align: center;
}

.back-arrow-icon {
  background: url('../img/icons/caret-left.svg');
  display: block;
  height: 20px;
  width: 20px;
  margin-right: -2px;
}

.forward-arrow-icon {
  background: url('../img/icons/caret-right.svg');
  display: block;
  height: 20px;
  width: 20px;
  margin-left: -6px;
}

.circle-icon {
  background-color: white;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.loading {
  width: 40px;
  height: 40px;
  border: 6px solid white;
  border-top: 6px solid red;
  border-radius: 100%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
